<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title>
            修改密码 - MMALL
        </title>
    </head>
<body>
    <%= require('html-loader!./layout/nav.html')  %>
    <%= require('html-loader!./layout/header.html')  %>

    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">MMALL</a>
                <span>></span>
                <span class="link-text">修改密码</span>
            </div>
        </div>
    </div>
    <div class="page-wrap w">
        <%= require('html-loader!./layout/nav-side.html')  %>
        <div class="content with-nav">
            <div class="panel">
                <div class="panel-title">
                    个人中心 - 修改密码
                </div>
                <div class="error-item">
                    <i class="fa fa-minus-circle error-icon"></i>
                    <p class="err-msg">
                        error
                    </p>
                </div>
                <div class="panel-body">
                    <div class="user-info">
                        <div class="form-line">
                            <span class="label">旧密码: </span>
                            <input id="old-password" type="text" class="input">
                        </div>
                        <div class="form-line">
                            <span class="label">新密码: </span>
                            <input id="new-password" type="text" class="input">
                        </div>
                        <a href="javascript:void(0);" class="btn btn-submit">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= require('html-loader!./layout/footer-common.html')  %>
</body>
</html>